<div class="caja">
        <h3 class="caja2"> Bienvenido al Portal Alumno! <br><h5> </h5></h3>
        <div id="titulo">
    
            <a href="" target="_self"><button type="button" class="btn btn-dark" style="align-self: center; width: 200px; height: 50px;">Visualizar Notas</button></a>
            <br><br><br>
            <br><br><button type="button" class="btn btn-dark" style="align-self: center; width: 200px; height: 50px;">Visualizar Controles</button>
            <br><br><br>
        </div>
    </div>
    <a href="/login" target="_self"><button type="button" class="btn btn-outline-dark" style="position: absolute; left: 10%; width: 150px; height: 50px;">Salir</button></a>