<div class="caja">
    <div id="titulo">
        <p id="titulo2" style="text-align: left;">Crear nombre del curso</p>
        <input placeholder="Nombre del curso" style="position: absolute; left: 10%; width: 400px; height: 50px; font-size: 20px;">
        <button type="button" class="btn btn-dark" style="position: absolute;right: 20%; width: 200px; height: 50px; font-size: 30px;">Crear Curso</button>
        <br><br><br><br>
        <p id="titulo2" style="text-align: left;">Crear materia</p>
        <input placeholder="Nombre de la materia" style="position: absolute; left: 10%; width: 400px; height: 50px; font-size: 20px;">
        <button type="button" class="btn btn-dark" style="position: absolute; right: 20%; width: 200px; height: 50px; font-size: 30px;">Ingresar</button>
        <br><br><br><br><br><br>
        <button type="button" class="btn btn-dark" style="align-self: center; width: 200px; height: 50px; font-size: 30px;">Guardar</button>
    </div>
</div>
<a href="/portal" target="_self"><button type="button" class="btn btn-outline-dark" style="width: 150px; height: 50px;">Atras</button></a>