<div class="caja">
    <div id="titulo">

        <input style="position: absolute; left: 10%; width: 400px; height: 50px; font-size: 40px;">
        <button type="button" class="btn btn-dark" style="position: absolute;right: 20%; width: 200px; height: 50px; font-size: 30px;">Crear Curso</button>
        <br><br><br><br>
        <input style="position: absolute; left: 10%; width: 400px; height: 50px; font-size: 40px;">
        <button type="button" class="btn btn-dark" style="position: absolute; right: 20%; width: 200px; height: 50px; font-size: 30px;">Ingresar</button>
        <br><br><br><br><br><br>
        <button type="button" class="btn btn-dark" style="align-self: center; width: 200px; height: 50px; font-size: 30px;">Guardar</button>
    </div>
</div>
<a href="http://localhost:4200/portal"><button type="button" class="btn btn-outline-dark" style="position: absolute; left: 10%; width: 150px; height: 50px;">Atras</button></a>