<html>
  <body class="caja3">
    <div class="titulo">
        <h3 class="caja2">Portal Académico<br><h5>NOTAS</h5></h3>
    </div>   
    <div class="dropdrown">
      
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Materia
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Materia 1</button>
          <button class="dropdown-item" type="button">Materia 2</button>
          <button class="dropdown-item" type="button">Materia 3</button>
        </div>
      </div>
      <div class="caja">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Nota n°</th>
                  <th scope="col">Calificación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">n°1</th>
                <td>1.0</td>
              </tr>
              <tr>
                <th scope="row">n°2</th>
                <td>1.0</td>
              </tr>
              <tr>
                <th scope="row">n°3</th>
                <td>1.0</td>
              </tr>
              <tr>
                  <th scope="row">n°4</th>
                  <td>1.0</td>
              </tr>
              <thead class="thead-dark">
                  <tr>
                    <th scope="col">Promedio</th>
                    <th scope="col">1.0</th>
                </tr>
              </thead>
            </tbody>
          </table>
        </div>
  </body>
</html>