<p></p>
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Portal académico</h1>
          <p class="lead"> CONECTA TU FUTURO</p>
        </div>
      </div>
                     <div class="form-row">
    <div class="col">
            <div class="form-group col-md-6">
            <label for="usuario">Usuario</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="col">
                     <div class="form-group col-md-6">
     <label for="inputPassword4">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
       </div>
       <div class="container">
            <div class="row">
              <div class="col-sm"> 
              </div>
              <div class="col-sm">
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
              <div class="col-sm">
              </div>
          </div>