<div class="caja">
    <h3 class="caja2">Portal Académico<br><h5>Conecta tu futuro</h5></h3>
    <div id="titulo">
        <h6>Correo électronico</h6>
        <input type="email" placeholder="correo@correo.cl" style="width: 300px; height: 40px;">
        <h6><br>Nombre</h6>
        <input placeholder="nombre" style="width: 300px; height: 40px;">
        <h6><br>Contraseña</h6>
        <input type="password" placeholder="Contraseña" style="width: 300px; height: 40px;">
    </div>
    <br> <br><button type="button" class="btn btn-dark" style="position: absolute;left: 40%;">Soy Alumno</button>
    <button type="button" class="btn btn-dark" style="position: absolute;left: 51%;">Soy Profesor</button>
</div>
<a href="" target="_self"><button type="button" class="btn btn-outline-dark" style="position: absolute; left: 10%; width: 150px; height: 50px;">Salir</button></a>
