<br><br>
<div class="btn-group" id="center" style="background: white; width: 250px; height: 50px;">
    <button type="button" class="btn btn-default dropdown-toggle" style="font-size: 20px;"
            data-toggle="dropdown">
      Seleccionar Curso <span class="caret"></span>
    </button>
  
    <ul class="dropdown-menu" role="menu" >
      <li><a href="#">Acción #1</a></li>
      <li><a href="#">Acción #2</a></li>
      <li><a href="#">Acción #3</a></li>
      <li class="divider"></li>
      <li><a href="#">Acción #4</a></li>
    </ul>
</div>
<br><br>
<div class="btn-group" id="center" style="background: white; width: 250px; height: 50px;">
    <button type="button" class="btn btn-default dropdown-toggle" style="font-size: 20px;"
            data-toggle="dropdown">
      Seleccionar Materia <span class="caret"></span>
    </button>
  
    <ul class="dropdown-menu" role="menu" >
      <li><a href="#">Acción #1</a></li>
      <li><a href="#">Acción #2</a></li>
      <li><a href="#">Acción #3</a></li>
      <li class="divider"></li>
      <li><a href="#">Acción #4</a></li>
    </ul>
</div>
<br><br>
<div class="btn-group" id="center" style="background: white; width: 250px; height: 50px;">
    <button type="button" class="btn btn-default dropdown-toggle" style="font-size: 20px;"
            data-toggle="dropdown">
      Seleccionar Alumno <span class="caret"></span>
    </button>
  
    <ul class="dropdown-menu" role="menu" >
      <li><a href="#">Acción #1</a></li>
      <li><a href="#">Acción #2</a></li>
      <li><a href="#">Acción #3</a></li>
      <li class="divider"></li>
      <li><a href="#">Acción #4</a></li>
    </ul>
</div>
<br><br>
<table class="table" id="center" style="width: 600px; text-align: center;">
    <thead>
      <tr style="background-color: grey;">
        <th scope="col"></th>
        <th scope="col">Nota 1</th>
        <th scope="col">Nota 2</th>
        <th scope="col">Nota 3</th>
        <th scope="col">Nota 4</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: white">
        <th scope="row" style="background-color: grey;">Notas Trabajo</th>
        <td><small>valor</small></td>
        <td><small>valor</small></td>
        <td><small>valor</small></td>
        <td><small>valor</small></td>
      </tr>
      <tr style="background-color: white">
        <th scope="row" style="background-color: grey;">Notas controles</th>
        <td><small>valor</small></td>
        <td><small>valor</small></td>
        <td><small>valor</small></td>
        <td><small>valor</small></td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="table" id="center" style="width: 300px; text-align: center;">
    <thead>
    </thead>
    <tbody>
      <tr style="background-color: white">
        <th scope="row" style="background-color: grey;">Promedio trabajo</th>
        <td><small>valor</small></td>
      </tr>
      <tr style="background-color: white">
        <th scope="row" style="background-color: grey;">Promedio controles</th>
        <td><small>valor</small></td>
      </tr>
    </tbody>
  </table>
<div id="center">
    <a href="/portal" target="_self"><button type="button" class="btn btn-outline-dark" style="width: 150px; height: 50px;">Atras</button></a>
    <button type="button" class="btn btn-dark" style="align-self: center; width: 200px; height: 50px; position: absolute; right: 10%; bottom: 5%;">Guardar Cambios</button>
    <button type="button" class="btn btn-dark" style="align-self: center; width: 100px; height: 40px; position: absolute; right: 430px; bottom: 170px;">Editar</button>
    <button type="button" class="btn btn-dark" style="align-self: center; width: 100px; height: 40px; position: absolute; right: 430px; bottom: 225px;">Editar</button>
</div>

